#form .row{
    --bs-gutter-x: unset !important;
  }
  *{
    font-family: 'Kanit', sans-serif;
  }
  body{
    margin: unset !important;
  }
  h6{
    color: rgb(189, 143, 63) !important;
  }
  .h3, h3{
    font-size: 1.0625rem !important;
  }
  .btn-outline-medeze {
    color: rgb(189, 143, 63) !important;
    border-color: rgb(189, 143, 63) !important;
    background-color: transparent !important;
    background-image: none !important;
  }
  .container .container-fluid .headhead_Container1  h1{
    font-size: 1.6275rem;
    font-weight: 600;
    line-height: 1.5;
  }
  #bg1{
      background-image: url("/img/background_fabric.png"); ;
      /* background-color: black; */
      width: 100%;
      height: 30vh;
  display: flex;
  justify-content: center;
  }
  #logo{
      background-image: url("/img/medeze-logo.png"); ;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain, cover;
      max-width: 9rem;
      margin-top: 5rem;
  }
  #bg2{
      /* background-color: #f8f9fe; */
      height: 100%;
      width: 100%;
  }
  #bg3{
    width: 10%;
  }
  #bg4{
    width: 10%;
  }
  .matop_gknn{
  margin-top: -10vh;
  }
  
  .btn-outline-medeze {
      color: rgb(189, 143, 63) !important;
      border-color: rgb(189, 143, 63) !important;
      background-color: transparent !important;
      background-image: none !important;
  }
  
  /* ............................... */
  :root {
      --succes-color: #2ecc71 !important;
      ;
      --error-color: #e74c3c !important;
         /* 
   เซ็ตสี
       */
    }
    .form-control_gknn.success input {
      border-color: var(--succes-color);
    }
  
    .form-control_gknn.error input {
      border-color: var(--error-color);
    }
    .form-control_gknn small {
      color: var(--error-color);
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
    }
  
    .form-control_gknn.error small {
      visibility: visible;
    }
    .highlight-red {
      background-color: red;
  }
  
  